@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
    --top-height: 53px;
}

:focus {
    outline: #40e0d0;
}

@keyframes grow {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

body {
    padding: 0;
    margin: 0;
    background-color: #111;
    font-family: 'Sora', sans-serif;
}

#banner {
    display: none;
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    padding: 25px;
    z-index: 100;
    border-radius: 7px;
}

#banner h3 {
    color: #E0E0E0;
    font-size: 25px;
    font-weight: 500;
    margin: 0;
}

#banner.alert-success {
    background-color: rgb(29, 165, 17);
}

#banner.alert-danger {
    background-color: red;
}

.tab-bg {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: calc(100vh - 93px);
    background-color: #FFFFFF;
    z-index: 1;
}

.top {
    position: fixed;
    display: flex;
    align-items: center;
    top: 40px;
    background-color: #2D2D2D;
    /*background-color: #2D2D2D;*/
    width: 100%;
    height: var(--top-height);
    margin: 0;
    z-index: 10;
    margin-right: 50px;
}

.top button.reloadBtn {
    border: none;
    outline: none;
    background-color: transparent;
    color: #E0E0E0;
    border-radius: 100%;
    transition: all .2s ease-in-out;
    aspect-ratio: 1 / 1;
}

.top button.reloadBtn:hover {
    background-color: #3F3F3F;
    cursor: pointer;
}

.top button.moveBtn {
    border: none;
    outline: none;
    background-color: transparent;
    color: #9c9c9c;
    border-radius: 100%;
    transition: all .2s ease-in-out;
    aspect-ratio: 1 / 1;
}

.top button.moveBtn:hover {
    background-color: transparent;
    cursor: default;
}

.top button.moveBtn.enabled {
    color: #E0E0E0;
}

.top button.moveBtn.enabled:hover {
    background-color: #3F3F3F;
    cursor: pointer;
}

.top input[type="text"] {
    border: none;
    padding: 6px 10px;
    font-size: 14px;
    font-weight: 500;
    color: #E0E0E0;
    border-radius: 13px;
    background-color: #3F3F3F;
    width: max-content;
    flex-grow: 1;
    margin: 0 5px;
}

.top input[type="text"]:focus {
    outline: none;
    border: #40e0d0 solid 2px;
}

#openBookmarksBtn {
    border: none;
    outline: none;
    background-color: transparent;
    color: #9c9c9c;
    border-radius: 100%;
    transition: all .2s ease-in-out;
    aspect-ratio: 1 / 1;
    margin-right: 5px;
}

#openBookmarksBtn:hover {
    background-color: #3F3F3F;
    cursor: pointer;
}

#settingsBtn {
    border: none;
    outline: none;
    background-color: transparent;
    color: #9c9c9c;
    border-radius: 100%;
    transition: all .2s ease-in-out;
    aspect-ratio: 1 / 1;
    margin-right: 5px;
}

#settingsBtn:hover {
    background-color: #3F3F3F;
    cursor: pointer;
}

#bookmarkBtn {
    border: none;
    outline: none;
    background-color: transparent;
    color: #9c9c9c;
    border-radius: 100%;
    font-size: 20px;
    transform: scale(0.9);
    transition: all .2s ease-in-out;
    aspect-ratio: 1 / 1;
    margin-right: 5px;
    position: absolute;
    right: 88px;
    top: 9px;
}

#bookmarkBtn:hover {
    cursor: pointer;
}

.navbuttons {
    position: fixed;
    display: flex;
    align-items: center;
    top: 0px;
    right: 0px;
    background-color: transparent;
    margin: 0;
    z-index: 50;
    -webkit-app-region: no-drag;
}

.navbuttons button {
    background-color: transparent;
    border: none;
    color: #666666;
    padding: 5px;
    transition: all .2s ease-in-out;
    height: 40px;
    width: 40px;
    text-align: center;
}

.navbuttons button:hover {
    background-color: rgb(44, 44, 44);
    color: #f5f5f5;
}

#closeBtn:hover {
    background-color: red;
}

#modalbox {
    display: none;
    position: fixed;
    align-items: center;
    right: 50px;
    top: 100px;
    z-index: 100;
    width: 250px;
    background-color: #2D2D2D;
    padding: 15px;
    border-radius: 7px;
    animation: grow 0.15s ease;
}

#modalbox input {
    border: none;
    padding: 6px;
    font-size: 14px;
    font-weight: 500;
    color: #E0E0E0;
    border-radius: 3px;
    background-color: #3F3F3F;
    width: max-content;
    flex-grow: 1;
    border: #2D2D2D solid 2px;
}

#modalbox input:focus {
    outline: none;
    border: #40e0d0 solid 2px;
}

#modalbox button {
    margin: 0;
    margin-left: 5px;
    border: none;
    background-color: transparent;
    color: #E0E0E0;
}

#bookmarkModal {
    display: none;
    position: fixed;
    align-items: flex-start;
    right: 50px;
    top: 100px;
    z-index: 100;
    width: 250px;
    background-color: #2D2D2D;
    padding: 15px;
    border-radius: 7px;
    animation: grow 0.15s ease;
}

#bookmarkModal .content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#bookmarkModal label {
    color: #E0E0E0;
}

#bookmarkModal input, select {
    border: none;
    padding: 6px;
    font-size: 14px;
    font-weight: 500;
    color: #E0E0E0;
    border-radius: 3px;
    background-color: #3F3F3F;
    width: 90%;
    flex-grow: 1;
    border: #2D2D2D solid 2px;
}

#bookmarkModal input:focus {
    outline: none;
    border: #40e0d0 solid 2px;
}

#bookmarkModal button.closeBtn {
    margin: 0;
    margin-left: 5px;
    border: none;
    background-color: transparent;
    color: #E0E0E0;
}

#bookmarkModal button:hover {
    cursor: pointer;
}

#addBookmarkBtn {
    background-color: transparent;
    border: #40e0d0 solid 3px;
    padding: 5px;
    font-size: 18px;
    width: 95%;
    border-radius: 3px;
    color: #E0E0E0;
    transition: all .4s ease-in-out;
}

#addBookmarkBtn:hover {
    background-color: #40e0d0;
}

.settingsOuter {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 40;
    background-color: rgba(17, 17, 17, 0.418)
}

.settingsOuter .settings {
    position: relative;
    background-color: #2D2D2D;
    border-radius: 7px;
    padding: 20px;
    height: 60%;
    width: 30%;
}

.settings .closeBtn {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: transparent;
    border: none;
    color: #E0E0E0;
    border-radius: 100%;
    aspect-ratio: 1 / 1;
}

.settings .closeBtn:hover {
    background-color: #3F3F3F;
    cursor: pointer;
}

.settings h1 {
    color: #E0E0E0;
    margin: 0;
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: #40e0d0 solid 3px;
    font-size: 35px;
    font-weight: 600;
}

.settings-collapsible {
    color: #E0E0E0;
    display: flex;
    align-items: center;
}

.settings-collapsible:hover {
    cursor: pointer;
}

.collapsible-icon {
    background-color: initial;
    border: none;
    color: #E0E0E0;
    transition: all .1s ease-in-out;
}

.collapsible-icon:hover {
    cursor: pointer;
}

.settings-content {
    display: flex;
    flex-direction: column;
    color: #E0E0E0;
    margin-top: 5px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    margin-left: 15px;
}

.settings-content button {
    background-color: transparent;
    border: #40e0d0 solid 2px;
    padding: 10px;
    margin: 10px;
    color: #E0E0E0;
    font-size: 20px;
    border-radius: 5px;
    transition: all .2s ease-in-out;
    width: fit-content;
}

.settings-content button:hover {
    cursor: pointer;
    background: #00ACEE;
    border-color: #00ACEE;
}

.bookmaks-content {
    display: flex;
    flex-direction: column;
}

.bookmaks-content a {
    color: #e0e0e0;
    font-size: 20px;
    text-decoration: none;
    width: fit-content;
}

webview {
    margin-top: var(--top-height);
    height: calc(100vh - var(--top-height));
}